/* Estilos para a barra de menus */
.menu-bar {
    display: flex;
    justify-content: center;
    background-color: #0060b2;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    border-radius: 10px; /* Arredonda os cantos */
}

.menu-bar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

.menu-bar a:hover {
    background-color: #ec7022;
}

/* Estilos para o ícone do menu (apenas em dispositivos móveis) */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease; /* Adiciona efeito de transição */
}

.menu-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

/* Menu lateral */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #0060b2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Arial', sans-serif;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Arial', sans-serif;
}

.side-menu a:hover {
    background-color: #ec7022;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
}

/* Estilos para o catálogo */
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 10px; /* Espaço entre as imagens */
}

.item { 
    width: 0%; /* Define a largura para cada item no grid */
    min-width: 200px; /* Define uma largura mínima para evitar imagens muito estreitas */
}

.catalog img {
    max-width: 100%;
    height: auto;
}

/* Ajusta a largura das imagens em telas maiores */
@media screen and (min-width: 769px) {
    .catalog img {
        max-width: 50%; /* Reduz a largura da imagem para 90% do container */
    }
}

/* Estilos para o botão de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button img {
    width: 60px; 
    height: auto;
    cursor: pointer;
    border-radius: 50%;
}

/* Mostrar o ícone do menu apenas em dispositivos móveis */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu-bar {
        display: none;
    }

    /* Ajusta o grid para uma coluna no mobile */
    .item {
        width: 100%;
    }
}

/* Popup */
.popup {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
}

.whatsapp-button:hover .popup {
    display: block;
}